<!DOCTYPE html>
<html lang="en">
   <head>
      {{!-- partials header --}}
      {{> _header}}
   </head>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
         <!-- Sidebar -->
         <ul class="navbar-nav sidebarCustom sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center disableClick" href="/admin">
               <img src="/img/logo.png" width="50px" alt="">
               <div class="sidebar-brand-text mx-3"> COMPANY NAME</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
               <a class="nav-link" href="/admin">
               <i class="fas fa-fw fa-home"></i>
               <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Logs -->
            <li class="nav-item active">   
               <a class="nav-link" href="/logs">
               <i class="fas fa-fw fa-clipboard"></i>
               <span>Logs</span></a>
            </li>
            <!-- Nav Item - User -->
            <li class="nav-item">   
               <a class="nav-link" href="/users">
               <i class="fas fa-fw fa-users"></i>
               <span>Users</span></a>
            </li>
            <!-- Nav Item - QR Code Test -->
            <li class="nav-item">   
               <a class="nav-link" href="/qrcode-tester">
               <i class="fas fa-fw fa-qrcode"></i>
               <span>QR Code Tester</span></a>
            </li>
            <!-- Nav Item - QR Code Test -->
            <li class="nav-item">   
               <a class="nav-link" href="/about">
               <i class="fas fa-fw fa-info-circle"></i>
               <span>About</span></a>
            </li>
            <!-- Nav Item - Contact Us -->
            <li class="nav-item">   
               <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">
               <i class="fas fa-envelope"></i>
               <span>Contact Us</span></a>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
               <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
         </ul>
         <!-- End of Sidebar -->
         <!-- Content Wrapper -->
         <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               {{!-- partials topbar --}}
               {{> _topbar}}
               <!-- Begin Page Content -->
               <div class="container-fluid">
                  <!-- Page Heading -->
                  <h2> <i class="fas fa-clipboard-list"></i> Logs <a type="button" href="/records" class="btn btn-info ml-2" style="float: right;"> <i class="fas fa-file-alt"></i> RECORDS</a> <a  class="btn btn-warning" role="button" href="#" id="absents" style="float: right;"> <i class="fas fa-users-slash"></i> ABSENT</a> </h2>
                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                 <tr>
                                    <th>ID #</th>
                                    <th>Name</th>
                                    <th>Shift</th>
                                    <th>Status</th>
                                    <th>Time-in</th>
                                    <th>Time-out</th>
                                    <th>Late</th>
                                    <th>Late Reason</th>
                                    <th>Date</th>
                                 </tr>
                              </thead>
                              <tfoot>
                                 <tr>
                                    <th>ID #</th>
                                    <th>Name</th>
                                    <th>Shift</th>
                                    <th>Status</th>
                                    <th>Time-in</th>
                                    <th>Time-out</th>
                                    <th>Late</th>
                                    <th>Late Reason</th>
                                    <th>Date</th>
                                 </tr>
                              </tfoot>
                              <tbody>
                                 {{#if logs}}
                                 {{#each logs}}
                                 <tr>
                                    <td><a class="bt-primary" href="/user-records/{{user_id}}"><strong><i class="fa fa-clipboard-list"></i> {{idnumber}}</strong></a></td>
                                    <td class="uppercase"><a class="infoLink" href="/users/{{user_id}}" ><strong><i class="fa fa-user"></i> {{name}}</strong></a></td>
                                    <td class="uppercase">{{shift}}</td>
                                    <td class="uppercase">{{status}}</td>
                                    <td>{{time_in}}</td>
                                    <td>{{time_out}}</td>
                                    <td class="uppercase">{{late}}</td>
                                    <td>{{late_reason}} - {{late}}</td>
                                    <td>{{date}}</td>
                                 </tr>
                                 {{/each}}
                                 {{/if}}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
         </div>
         <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      {{!-- partials footer --}}
      {{> _footer}}


      <script>
         const absent = document.querySelector("#absents");
         let date = getDate();
         
         absent.addEventListener('click', async (e) => {
            e.preventDefault();

            absent.style.display = "none";
         
            try {
               const res = await fetch('/absents', { 
               method: 'POST', 
               body: JSON.stringify({ date }),
               headers: {'Content-Type': 'application/json'}
               });
               
               const data = await res.json();
               console.log(data);
               
               if (data.success) {
                  iziToast.success({
                  title: data.success,
                  position: "topCenter",
                  timeout: 3000,  
                  });

                  setTimeout(function(){ window.location.reload(); }, 3000);
                  
               }
               if (data.error) {
                  iziToast.warning({
                  title: data.error,
                  position: "topCenter",
                  timeout: 3000,  
                  });
               }
            } catch (err) {
               console.log(err);
            }   
         });
      </script>
   </body>
</html>