<!DOCTYPE html>
<html lang="en">
   <head>
    {{!-- partials header --}}
      {{> _header}}
   </head>
   <body id="page-top">

       {{!-- partials sidebar --}}
        {{> _sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

        {{!-- partials topbar --}}
         {{> _topbar}}

               <!-- Begin Page Content -->
            <div class="container qrcode">
               <div class="row justify-content-center">
                  <div class="col-lg-6 ">
                     <div class="card mb-4 py-3 border-bottom-dark">
                        <div class="card-body">
                           <div class="generateqrcode ">
                              <!-- class="QRcodeImage" -->
                              <div id="qrcodegenerated" class="QRcodeImage mb-2">

                              </div>
                              <div class="form-group">
                                 <a class="btn" download href="#" role="button" id="downloadBtn"> <i class="fas fa-qrcode"></i> Download QR Code</a> 
                              </div>
                              <span id="nameofuser" data-filename="{{user.firstname}}-{{user.lastname}}">{{user.firstname}} {{user.lastname}}</span>
                              <br>
                              <span id="idnumberofuser">{{user.idnumber}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End of Main Content -->

            {{!-- partials copyright --}}
            {{> _copyright}}

         </div>
         <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>

      {{!-- partials logout modal --}}
      {{> _logoutmodal}}

    {{!-- partials footer --}}
      {{> _footer}}
      

      <script>
      let idnumber = document.querySelector("#idnumberofuser").textContent;
      let typeNumber = 4;
      let errorCorrectionLevel = 'L';
      let qr = qrcode(typeNumber, errorCorrectionLevel);
      qr.addData(idnumber);
      qr.make();
      document.querySelector("#qrcodegenerated").innerHTML = qr.createImgTag(8,4);


      addEventListener('click', function(e) {
         const downloadBtn = document.querySelector('#downloadBtn');
         const link = document.querySelector('#qrcodegenerated img').src;
         const user = document.querySelector("#nameofuser");
         downloadBtn.href = link;
         downloadBtn.download = user.dataset.filename;
         console.log(link)
      })
      </script>
      
   </body>
</html>